* {
    /*padding: 0;*/
    /*margin: 0;*/

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

textarea:invalid, input:invalid {
    border: .1em dashed red;
}

select:valid, textarea:valid, input:valid {
    border: .1em solid green;
}

a[target="_blank"]::after {
    content: '⬀';
}

a[href$=".txt"]::after, a[href*=".txt?"]::after, a[href*=".txt#"]::after, a[href$=".TXT"]::after, a[href*=".TXT?"]::after, a[href*=".TXT#"]::after, span.TXTlink a::after {
    content: '[txt]';
}

a[href$=".pdf"]::after, a[href*=".pdf?"]::after, a[href*=".pdf#"]::after, a[href$=".PDF"]::after, a[href*=".PDF?"]::after, a[href*=".PDF#"]::after, span.PDFlink a::after {
    content: '[pdf]';
}

a[href$=".doc"]::after, a[href*=".doc?"]::after, a[href*=".doc#"]::after, a[href$=".DOC"]::after, a[href*=".DOC?"]::after, a[href*=".DOC#"]::after, span.DOClink a::after {
    content: '[doc]';
}



