doctype html
html lang="en" 
	head
		meta charset="utf-8" /
		meta content="IE=edge" http-equiv="X-UA-Compatible" /
		meta content="width=device-width, initial-scale=1.0" name="viewport" /
		title Website Accessibility Code Examples
		link href="style.css" rel="stylesheet" /
		meta content=("Best accessability practices and cutting-edge CSS HTML technologies") name="description" /
		link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="120x120" /
		link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
		link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
		link href="/site.webmanifest" rel="manifest" /
		link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /
		meta content="#ffc40d" name="msapplication-TileColor" /
		meta content="#ffffff" name="theme-color" /
	body
		a.screen-reader-text.link href="#links"
				| Skip to Content (Press Enter)
		header.grid.grid_website-header
            a.link href="https://tolerant.site/" title="Main Page"
                h1.heading.heading_1.text_lowercase.text_zilla.text_center Tolerant dot Site
            nav.grid__cell_center
                ul.menu
                    li.menu__item
                        a.link href="#links" title="Go to Accessible Links" Links
                    li.menu__item
                        a.link href="#images" title="Go to Accessible Images" Images
                    li.menu__item
                        a.link href="#forms" title="Go to Accessible Forms" Forms
                    li.menu__item
                        a.link href="#articles" title="Go to Accessible Articles" Articles
                    li.menu__item
                        a.link href="#tables" title="Go to Accessible Tables" Tables
                    li.menu__item
                        a.link href="#print" title="Go to Accessible Print" Print
        main
			section.grid.grid_section#links
                header.grid.grid_header.heading_zilla
				    h2.heading.heading_2.row_width-80 Links
                main.grid.grid_main
                    iframe.row_width-80.iframe_code width="100%" height="100%" src="//jsfiddle.net/meisloafer/v9rqf2ey/24/embedded/html,css,result/" allowfullscreen="allowfullscreen" allowpaymentrequest="true" frameborder="0"
                footer
                    .row_width-80
                        .grid.grid_footer
                            .usage_notes
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-blue Usage notes
                                article.text.text_ubuntu
                                    ol.links
                                        li.links__item
                                            p.block_inline.text_strong How to make CSS-pure accessible drop-down menu?                                    
                                            p I use focus-within pseudo-class as if Scott O'Hara does.

                                        li.links__item
                                            p.block_inline.text_strong What're the cutting-edge techniques to underline links?
                                            p I prefer using text-decoration-* properties after reading Benjamin Woodruff and John D. Jameson posts. 

                                        li.links__item
                                            p.block_inline.text_strong What's the most annoying thing in links for people using the keyboard?
                                            p outline: none; rule. I always highlight link focus status!

                                        li.links__item
                                            p.block_inline.text_strong Finally, should we put target="_blank" or not?
                                            p I do it almost NEVER. Users must control your website behavior. I must mark such links. The vulnerability is underestimated.
                                        p You open the viral page from Facebook. The viral page changes previous tab with the viral URL. 
                                        p I use &lt;a rel="noopener noreferrer" target="_blank" …&gt;.

                                        li.links__item
                                            p.block_inline.text_strong What else about CSS security?
                                            p :visited selector was tricky. Now it's okay. So you're to decide.
                            .see_also
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-red Links
                                .row
                                    nav
                                        h4.heading.heading_4.text_zilla Link Styling
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/" title=("Caitlin Geier is a UX designer at deque.com") rel="nofollow noopener" Designing Focus Indicators
                                            li.links__item
                                                a.link href="https://css-tricks.com/styling-underlines-web/" title=("css-tricks") rel="nofollow noopener" Styling Underlines on the Web
                                    nav
                                        h4.heading.heading_4.text_zilla E-Mail link
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/" rel="nofollow noopener" title=("jitbit.com - Target=\"_blank\" - the most underestimated vulnerability ever") 
                                                    | Use target="_blank" ... never
                                            li.links__item
                                                a.link href="https://webaim.org/techniques/hypertext/hypertext_links" title=("WebAIM - Links and Hypertext") rel="nofollow noopener" WebAIM: Links
                                            li.links__item
                                                a.link href="https://webaim.org/blog/wcag-2-0-and-link-colors/" title=("WebAIM - WCAG 2.0 and Link Colors") rel="nofollow noopener"	WCAG 2.0 Link Colors
                                            li.links__item
                                                a.link href="https://www.w3.org/TR/WCAG20-TECHS/G201.html" rel="nofollow noopener" title="W3C" 
                                                    | Warn users about target="_blank"
                                            li.links__item
                                                a.link href="https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector" title="MDN" rel="nofollow noopener"
                                                    | Privacy and the :visited selector
                                            li.links__item
                                                a.link href="https://adrianroselli.com/2020/02/link-targets-and-3-2-5.html" title="Adrian Roselli | Consultant, Writer, Speaker" rel="nofollow noopener"
                                                    | Link Targets and 3.2.5
                                    nav
                                        h4.heading.heading_4.text_zilla Accessible Drop-Down Menu
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.scottohara.me/blog/2017/05/14/focus-within.html" title=("Scott O'Hara") Accessible Drop-Down Menu
                                            li.links__item
                                                a.link href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details" title="MDN" The Details disclosure element
                            .caniuseit
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-violet Can I use it?
                                nav
                                    ol.links
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=text-decoration" rel="nofollow noopener" text-decoration styling
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=flexbox" rel="nofollow noopener" CSS Flexible Box Layout Module
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=css-focus-within" rel="nofollow noopener"
                                                | :focus-within CSS pseudo-class
			section.grid.grid_section#images
                header.grid.grid_header.heading_zilla
				    h2.heading.heading_2.row_width-80 Images
                main.grid.grid_main
                    iframe.row_width-80.iframe_code width="100%" height="100%" src="//jsfiddle.net/meisloafer/v4z5k79o/5/embedded/html,css,result/" allowfullscreen="allowfullscreen" allowpaymentrequest="true" frameborder="0"
                footer
                    .row_width-80
                        .grid.grid_footer
                            .see_also
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-red Links
                                .row
                                    nav
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.w3.org/TR/2014/WD-html-alt-techniques-20141023/#images-of-pictures-1" title="W3C"	Techniques for providing useful text alternatives
                                            li.links__item
                                                a.link href="https://webaim.org/techniques/alttext/" title="webaim"	Alt text in any cases
                                            li.links__item
                                                a.link href="https://www.scottohara.me/blog/2019/01/21/how-do-you-figure.html" title="Scott O'Hara"	How do you figure?
                                            li.links__item
                                                a.link href="https://css-tricks.com/using-svg/" title="css-tricks.com"	Using SVG
                            .caniuseit
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-violet Can I use it?
                                nav
                                    ol.links
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=css-filters" rel="nofollow noopener" CSS Filter Effects
            section.grid.grid_section#forms
                header.grid.grid_header.heading_zilla
				    h2.heading.heading_2.row_width-80 Forms
                main.grid.grid_main
                    iframe.row_width-80.iframe_code width="100%" height="100%" src="//jsfiddle.net/meisloafer/p6efvwyL/5/embedded/html,css,result/" allowfullscreen="allowfullscreen" allowpaymentrequest="true" frameborder="0"
                footer
                    .row_width-80
                        .grid.grid_footer
                            .see_also
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-red Links
                                .row
                                    nav
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.w3.org/WAI/tutorials/forms/" title=("W3C - Forms")	WCAG Forms
                                            li.links__item
                                                a.link href="https://webaim.org/techniques/forms/#keyboard" title=("WebAIM - Creating Accessible Forms")	WebAIM: Keyboard Accessible
                                            li.links__item
                                                a.link href="https://webaim.org/techniques/forms/advanced" title=("WebAIM - Creating Accessible Forms")	WebAIM: Labels
                                            li.links__item
                                                a.link href="https://www.artlebedev.ru/technogrette/etc/forms/" lang="ru" title=("Студия Артемия Лебедева") 10 правил хороших форм
                                            li.links__item
                                                a.link href="https://github.com/AlexeyVolkov/rememberForm" title=("AlexeyVolkov - github.com") rememberForm
                            .caniuseit
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-violet Can I use it?
                                nav
                                    ol.links
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=flexbox" rel="nofollow noopener" CSS Flexible Box Layout Module
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=css-focus-within" rel="nofollow noopener"
                                                | :focus-within CSS pseudo-class
			section.grid.grid_section#articles
                header.grid.grid_header.heading_zilla
				    h2.heading.heading_2.row_width-80 Articles
                main.grid.grid_main
                    iframe.row_width-80.iframe_code width="100%" height="100%" src="//jsfiddle.net/meisloafer/nhsr85fc/7/embedded/html,css,result/" allowfullscreen="allowfullscreen" allowpaymentrequest="true" frameborder="0"
                footer
                    .row_width-80
                        .grid.grid_footer
                            .usage_notes
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-blue Usage notes
                                article.text.text_ubuntu
                                    ol.links
                                        li.links__item
                                            p.block_inline.text_strong How to use quotation marks the correct way?
                                            p Use quotes property for q and blockquote elements after reading Ian Yates and Артемий Лебедев posts.
                                        li.links__item
                                            p.block_inline.text_strong How to make text look as if I'm reading a book?
                                            p Read articles about висячая пунктуация by Артемий Лебедев — hanging punctuation by Chris Coyier. Learn all the settings of the fonts you use with Adobe Fonts. Don't forget about hyphens. And sometimes edit text manually.
                            .see_also
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-red Links
                                .row
                                    nav
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.w3.org/WAI/tutorials/page-structure/content/" title="W3C" 
                                                    | Content Structure
                                            li.links__item
                                                a.link href="https://webdesign.tutsplus.com/articles/start-using-quotation-marks-the-correct-way--webdesign-16905" title="tutsplus" 
                                                    | Start Using Quotation Marks the “Correct” Way
                                            li.links__item
                                                a.link href="https://www.artlebedev.ru/kovodstvo/sections/104/" title="Артемий Лебедев" lang="ru"
                                                    | § 104. Кавычки
                                            li.links__item
                                                a.link href="https://www.artlebedev.ru/kovodstvo/sections/62/" title="Артемий Лебедев" lang="ru"
                                                    | § 62. Экранная типографика
                                            li.links__item
                                                a.link href="https://en.wikipedia.org/wiki/Quotation_mark#Unicode_code_point_table" title="wikipedia" 
                                                    | Unicode code point table
                                            li.links__item
                                                a.link href="https://www.artlebedev.ru/kovodstvo/sections/120/" title="Артемий Лебедев" lang="ru"
                                                    | § 120. Висячая пунктуация
                                            li.links__item
                                                a.link href="https://css-tricks.com/almanac/properties/h/hanging-punctuation/" title="CSS-Tricks" 
                                                    | hanging-punctuation
                                            li.links__item
                                                a.link href="https://practice.typekit.com/lesson/" title="typekit.com" rel="nofollow noopener"
                                                    | Typekit Practice Lessons
                                            li.links__item
                                                a.link href="https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens" title="MDN" rel="nofollow noopener"
                                                    | hyphens
                            .caniuseit
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-violet Can I use it?
                                nav
                                    ol.links
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=font-feature" rel="nofollow noopener" CSS font-feature-settings
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=css-hanging-punctuation" rel="nofollow noopener" CSS hanging-punctuation
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=font-variant-numeric" rel="nofollow noopener" CSS font-variant-numeric
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=mdn-css_properties_text-rendering" rel="nofollow noopener" CSS property: text-rendering
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=mdn-css_properties_quotes" rel="nofollow noopener" CSS property: quotes
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=css-hyphens" rel="nofollow noopener" CSS Hyphenation
			section.grid.grid_section#tables
                header.grid.grid_header.heading_zilla
				    h2.heading.heading_2.row_width-80 Tables
                main.grid.grid_main
                    iframe.row_width-80.iframe_code width="100%" height="100%" src="//jsfiddle.net/meisloafer/3r4kLgzp/4/embedded/html,css,result/" allowfullscreen="allowfullscreen" allowpaymentrequest="true" frameborder="0"
                footer
                    .row_width-80
                        .grid.grid_footer
                            .usage_notes
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-blue Usage notes
                                article.text.text_ubuntu
                                    ol.links
                                        li.links__item
                                            p.block_inline.text_strong Are tables flexible?
                                            p Yes, they are. You can find the torrent of table variants.
                                        li.links__item
                                            p.block_inline.text_strong How to use them properly nowadays?
                                            p The only rule: make them look as if they are in a book and read the getting started post by Adrian Roselli.
                                        li.links__item
                                            p.block_inline.text_strong Can tables be responsive?
                                            p Sure. And the answer can be flexible. There are data best to be presented as a list, image, separate table. The Responsive Accessible Table article by Adrian Roselli helps us.
                                        li.links__item
                                            p.block_inline.text_strong What is the list of steps for me? And how can I use JavaScript?
                                            p A Complete Guide to the Table Element by Chris Coyier covers all the table questions.
                            .see_also
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-red Links
                                .row
                                    nav
                                        ol.links
                                            li.links__item
                                                a.link href="https://www.w3.org/WAI/tutorials/tables/" rel="nofollow noopener" title="Web Accessibility Tutorials"
                                                    | Tables Concepts
                                            li.links__item
                                                a.link href="https://adrianroselli.com/2017/11/hey-its-still-ok-to-use-tables.html" rel="nofollow noopener" title="Adrian Roselli | Consultant, Writer, Speaker"
                                                    | Hey, It’s Still OK to Use Tables
                                            li.links__item
                                                a.link href="https://adrianroselli.com/2017/11/a-responsive-accessible-table.html" rel="nofollow noopener" title="Adrian Roselli | Consultant, Writer, Speaker"
                                                    | A Responsive Accessible Table
                                            li.links__item
                                                a.link href="https://alistapart.com/article/web-typography-tables" rel="nofollow noopener" title="alistapart.com"
                                                    | Designing Tables to be Read, Not Looked At
                                            li.links__item
                                                a.link href="https://css-tricks.com/complete-guide-table-element/" rel="nofollow noopener" title="Chris Coyier @ css-tricks"
                                                    | A Complete Guide to the Table Element
			section.grid.grid_section#print
                header.grid.grid_header.heading_zilla
				    h2.heading.heading_2.row_width-80 Print
                main.grid.grid_main
                    iframe.row_width-80.iframe_code width="100%" height="100%" src="//jsfiddle.net/meisloafer/sbeur0gd/1/embedded/css/" allowfullscreen="allowfullscreen" allowpaymentrequest="true" frameborder="0"
                footer
                    .row_width-80
                        .grid.grid_footer
                            .see_also
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-red Links
                                .row
                                    nav
                                        ol.links
                                            li.links__item
                                                a.link href="https://css-tricks.com/css-tricks-finally-gets-a-print-stylesheet/" rel="nofollow noopener" title="CSS-Tricks"
                                                    | CSS-Tricks Finally Gets A Print Stylesheet 
                                            li.links__item
                                                a.link href="https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/" rel="nofollow noopener" title="smashingmagazine"
                                                    | Printing almost real book
                                            li.links__item
                                                a.link href="https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/" rel="nofollow noopener" title="smashingmagazine"
                                                    | A Guide To The State Of Print Stylesheets In 2018
                                            li.links__item
                                                a.link href="https://css-tricks.com/snippets/css/monotone-image-css/" rel="nofollow noopener" title="css-tricks"
                                                    | Monotone an Image with CSS
                            .caniuseit
                                h3.heading.heading_3.text_zilla.border_zilla.border_zilla-violet Can I use it?
                                nav
                                    ol.links
                                        li.links__item
                                            a.link href="https://caniuse.com/#feat=css-filters" rel="nofollow noopener" CSS Filter Effects
        footer.grid.grid_website-footer
            a.link href="https://www.linkedin.com/in/2plus2is4/" rel="nofollow noopener" title="Hire in LinkedIn"
                h2.heading.heading_2.text_lowercase.text_zilla.text_center Alexey Volkov
            nav.grid__cell_center
                ul.menu
                    li.menu__item
                        a.link href="https://github.com/AlexeyVolkov?tab=repositories" rel="nofollow noopener" title="Look at GitHub Repos" GitHub
                    li.menu__item
                        a.link href="https://spb.hh.ru/resume/ff5930bbff033a8c5e0039ed1f47376b7a4d51" rel="nofollow noopener" lang="ru" title="Резюме на hh.ru" ХэдХантер
                    li.menu__item
                        a.link href="https://www.linkedin.com/in/2plus2is4/" rel="nofollow noopener" title="Hire in LinkedIn" LinkedIn
                    li.menu__item
                        a.link href="https://github.com/AlexeyVolkov/AlexeyVolkov.github.io" rel="nofollow noopener" title="AlexeyVolkov.github.io" This project at GitHub
		script src="js/script-min.js"
		script src="https://cdn.jsdelivr.net/gh/AlexeyVolkov/rememberForm@1.0/rememberForm.min.js"
		script
			|
				ready(function(){
					rememberForm('#form');
				});

